*.o
*.swp
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
gconf/gnomint.schemas
gnomint
gnomint-cli
gnomint.spec
gui/gnomint.desktop
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
mime/gnomint.xml
missing
mkinstalldirs
po/*.gmo
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
