[Desktop Entry]
_Name=gnoMint X.509 CA Manager
_Comment=Manage X.509 certificates and CAs, easily and graphically
Exec=gnomint
Terminal=false
Type=Application
StartupNotify=true
Icon=gnomint
Categories=GNOME;Application;System;Security
MimeType=application/x-gnomint;

